<!DOCTYPE html>
<html>
<head>
	<title>ej4</title>
</head>
<body>
	<form action="/respuesta" method="post"> 

		<input type="text" name="text">
		<input type="submit" name="" value="!Dilo!">
	
	</form>
</body>
</html>