<!DOCTYPE html>
<html>
<head>
	<title>ej4</title>
</head>
<body>
	<form action="/respuesta" method="post"> 

		<input type="text" name="text">
		<button type="submit">!Dilo!</button>
	</form>
</body>
</html>